
/node_modules
/public/hot
/public/storage
/public/resources/js/plugins
/storage/*.key
/storage/*
/vendor
/vendor/*
/resources/js/plugins
/resources/admin
/api/storage/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules/
.vscode
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.angular
plugins
www
platforms
vendor
/nbproject/private/