<ion-content>
  <form [formGroup]="form" class="row">
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card px-5 py-5" id="form1">
            <div class="form-data" v-if="!submitted">
              <div class="forms-inputs mb-4"> <span>Email e Senha</span> <input autocomplete="off" type="text"
                  formControlName="email" class="form-control">
                <div class="invalid-feedback">A valid email is required!</div>
              </div>
              <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password"
                  formControlName="password" class="form-control">
                <div class="invalid-feedback">Password must be 8 character!</div>
              </div>
              <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100"
                  (click)="login()">Login</button>
              </div>
            </div>
            <div class="success-data text-danger" *ngIf="errologin">
              E-mail ou senha incorretos
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-content>